<section>
    <h1>Listes des exoplanètes : </h1>
    <table>
        <tr>
            <th>
                Id Exo
            </th>
            <th>
                Nom Exo
            </th>
            <th>
                hClass
            </th>
            <th>
                Année de découverte
            </th>
        </tr>
        {{#each exop}}
            <tr>
                <td>{{id}}</td>
                <td>{{uniqueName}}</td>
                <td>{{hClass}}</td>
                <td>{{discoveryYear}}</td>
            </tr>
        {{/each}}
    </table><br>
    <form method="post" action="/exoplanetes/add">
        <fieldset>
            <h1>Ajouter une exoplanète découverte</h1>
            <label for="ename">Nom de l'exoplanète découverte</label>
            <input type="text" id="ename" name="ename">
            <label for="eclass">Classe habitable de l'exoplanète</label>
            <select id="eclass" name="eclass">
                <option value="hyperthermoplanetes">Hyperthermoplanètes </option>
                <option value="thermoplanetes">Thermoplanètes</option>
                <option value="mesoplanetes">Mésoplanètes</option>
                <option value="psychroplanetes">Psychroplanètes</option>
                <option value="hypopsychroplanetes">Hypopsychroplanètes</option>
            </select>
            <label for="eannee">Année de découverte</label>
            <input type="number" min="1990" max="2024" id="eannee" name="eannee"><br>
            <input type="submit">
        </fieldset>
    </form>
</section>